.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fixed-loading {
  position: fixed;
  height: 80px;
  top: 10px;
  right: 0;
  left: 10px;
  z-index: 2021;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #6f42c1;
}

a::after {
  content: '\a';
  white-space: pre;
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.text-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.active {
  background-color: #6f42c1;
  color: #6f42c1;
}

.container-loading {
  padding: 10em;
}
